html,
body {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
}
hr {
    border-color: #8D6E63;
    border-width: 3px;
    max-width: 50px;
}
hr.light {
    border-color: white;
}
a,
a:visited {
    color: white;
}
a:hover,
a:visited:hover {
    color: #8D6E63;
    //-webkit-transition: all 0.35s;
    // -moz-transition: all 0.35s;
    // -transition: all 0.35s;
}
#contact a,
#contact a:visited {
    color: white;
}
#contact a:hover,
#contact a:visited:hover {
    color: #8D6E63;
    //-webkit-transition: all 0.35s;
    // -moz-transition: all 0.35s;
    // -transition: all 0.35s;
}
p {
    font-size: 16px;
    //line-height: 1.5;
}
section {
    padding: 50px 0;
}
aside {
    padding: 50px 0;
}
/* animations */

@-moz-keyframes social-icons-animation {
    0% {
        font-size: 0px;
        opacity: 0;
    }
    100% {
        font-size: 50px;
        opacity: 1;
    }
}
@-webkit-keyframes social-icons-animation {
    0% {
        font-size: 0px;
        opacity: 0;
    }
    100% {
        font-size: 50px;
        opacity: 1;
    }
}
@keyframes social-icons-animation {
    0% {
        font-size: 0px;
        opacity: 0;
    }
    100% {
        font-size: 50px;
        opacity: 1;
    }
}
@-moz-keyframes social-icons-animation-img {
    0% {
        font-size: 0px;
        opacity: 0;
    }
    100% {
        font-size: 50px;
        opacity: 1;
    }
}
@-webkit-keyframes social-icons-animation-img {
    0% {
        font-size: 0px;
        opacity: 0;
    }
    100% {
        font-size: 50px;
        opacity: 1;
    }
}
@keyframes social-icons-animation-img {
    0% {
        height: 0px;
        width: 0px;
        opacity: 0;
    }
    100% {
        height: 50px;
        width: 50px;
        opacity: 1;
    }
}
@-moz-keyframes dropHeader {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes dropHeader {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
header {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../img/header.jpg');
    text-align: center;
    color: white;
}
header .header-content {
    position: relative;
    text-align: center;
    width: 100%;
}
header .header-content .header-content-inner img {
    width: 140px;
}
header .header-content .header-content-inner h1 {
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 70px;
    display: inline-block;
}
header .header-content .header-content-inner hr {
    margin: 30px auto;
}
header .header-content .header-content-inner p {
    font-weight: 100;
    font-size: 36px;
}
header .header-content .header-content-inner .social-icons {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 34px;
    padding-top: 10%;
    padding-bottom: 10%;
}
header .header-content .header-content-inner .social-icons img {
    height: 50px;
    width: 50px;
}
header .header-content .header-content-inner .social-icons img:hover {
    content: url('../img/hpb_logo_hover.png');
}
#contact {
    font-weight: 100;
    color: white;
    background-color: #4E342E;
}
#contact i {
    font-size: 24px;
}
#contact p {
    font-size: 24px;
}
#contact hr {
    border-color: white;
}
footer {
    background-color: #4E342E;
    text-align: center;
    height: 50px;
}
footer p {
    font-weight: 100;
    color: white;
    font-size: 12px;
}
@media (min-width: 768px) {
    header {
        min-height: 100%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }
    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    header .header-content .header-content-inner img {
        width: 210px;
    }
    header .header-content .header-content-inner h1 {
        font-size: 105px;
        margin-left: auto;
        margin-right: auto;
    }
    header .header-content .header-content-inner p {
        font-size: 54px;
        margin-left: auto;
        margin-right: auto;
        -webkit-animation-name: dropHeader;
        -webkit-animation-duration: 1s;
        -moz-animation-name: dropHeader;
        -moz-animation-duration: 1s;
        animation-name: dropHeader;
        animation-duration: 1s;
    }
    header .header-content .header-content-inner .social-icons {
        max-width: 70%;
        font-size: 50px;
        -webkit-animation-name: social-icons-animation;
        -webkit-animation-duration: 1s;
        -moz-animation-name: social-icons-animation;
        -moz-animation-duration: 1s;
        animation-name: social-icons-animation;
        animation-duration: 1s;
    }
    header .header-content .header-content-inner .social-icons img {
        -webkit-animation-name: social-icons-animation-img;
        -webkit-animation-duration: 1s;
        -moz-animation-name: social-icons-animation-img;
        -moz-animation-duration: 1s;
        animation-name: social-icons-animation-img;
    }
    #contact i {
        font-size: 36px;
    }
    #contact p {
        font-size: 36px;
    }
    footer p {
        font-size: 18px;
    }
}
.section-heading {
    margin-top: 0;
}
::-moz-selection {
    color: white;
    text-shadow: none;
    background: #8D6E63;
}
::selection {
    color: white;
    text-shadow: none;
    background: #8D6E63;
}
img::selection {
    color: white;
    background: transparent;
}
img::-moz-selection {
    color: white;
    background: transparent;
}
body {
    webkit-tap-highlight-color: #8D6E63;
}